[project]
name = "rtaves"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiohttp>=3.13.2",
    "jinja2>=3.1.6",
    "ossapi>=5.3.3",
]
